<!--ユーザーが投稿したbookのリスト-->
    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <!--<th colspan="3"></th>-->
          </tr>
        </thead>

<!--usersコントローラーのshowアクションで定義した@user_booksインスタンスからデータをよびだし -->
<!--booksコントローラーのindexアクションで定義した@booksインスタンスからデータをよびだし -->
        <% books.each do |ubook| %>
        <tbody>
          <tr>
            <td class="text-break">
              <%= link_to user_path(ubook.user_id) do %>
                  <%= attachment_image_tag ubook.user, :profile_image, :fit, 60, 60, fallback: "default-image.jpg" %>
              <% end %>
            </td>
            <td class="text-break"><%= link_to ubook.title, book_path(ubook) %></td>
            <td class="text-break"><%= ubook.body_answer %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
